.container {
  max-width: 1400px;
  margin: 0 auto;
}
.card-link img {
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease;
}
.card-link :hover img {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
