.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.f_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.f_slider a {
  display: inline-block;
  margin: 0 0px; /* Aumenta lo spazio tra le immagini */
}

.f_slider img {
  width: 250px; /* Dimensione desiderata delle immagini */
  height: auto;
  transition: transform 0.3s ease; /* Effetto di transizione */
}

.f_slider img:hover {
  transform: scale(1.1); /* Effetto di ingrandimento al passaggio del mouse */
}
