/* Slider.css */
.f_slider {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.f_slider a {
  display: inline-block;
  margin: 0 0px;
}

.f_slider img {
  height: auto;
  transition: transform 0.3s ease;
  width: 250px;
}

.f_slider img:hover {
  transform: scale(1.1);
}

.slider-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
