.slider-container {
  margin: 0 auto;
}

.f_slider {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.f_slider img {
  height: 200px;
  width: 300px;
  max-width: 100%;
  transition: transform 0.3s ease;
  object-fit: contain;
}

.f_slider img:hover {
  transform: scale(1.1);
}
