/* Cart.css */
.cart-button {
  border: none;
  margin-right: -45px;
}

.cart-container {
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  overflow: hidden;
  width: 50%;
}

.cart-table {
  border-collapse: collapse;
  border: none;
}

.cart-table tfoot td {
  border: none;
}

.cart-table tfoot tr {
  border: none;
}
