/* Layout Modules and Spacing */
@media (max-width: 768px) {
  .order-item {
    margin-right: 0;
    width: 100%;
  }
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.my-5 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.py-5 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

/* Buttons and Actions */
.delete-account-button {
  margin-top: 30px;
  text-align: center;
}

.delete-account-button .btn-danger {
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.order-link {
  background: #000000;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s;
}

.order-link:hover {
  background: #218838;
}

/* Order Details */
.order-details {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

/* Order History */
.order-history-section {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 30px;
}

.order-item {
  background-color: #ffffff;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

.order-item .product-image {
  height: 100px;
  object-fit: fill;
  width: 100px;
}

.order-item-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.order-items-list li {
  flex: 1 1 calc(25% - 20px);
  width: calc(25% - 20px);
}

/* User Information */
.user-info-card {
  background-color: #ffffff;
  border: 1px solid #333;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 30px;
}

.user-info-title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
