/* Stile per le frecce del carosello */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* Stile per il carosello */
.carousel-section {
  position: relative;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
