/* Card Body Styles */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Product Info Styles */
.product-info {
  margin-top: 20px;
}

/* Image Styles */
.img-fluid {
  height: auto;
  max-width: 100%;
}

/* Text Styles */
.fixed-height-description {
  height: 200px;
  margin-top: 10px;
  overflow: auto;
  text-align: justify;
}

.fixed-height-text {
  font-size: calc(1em + 0.5vw);
  height: 50px;
  margin-bottom: 20px;
}

.no-related {
  color: #ff6b6b;
  font-size: medium;
  font-weight: bold;
  margin-top: 20px;
}
