/* ProductInfo.css */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.product-info {
  margin-top: 20px;
}
