.navbar {
  border: none; /* Rimuove tutti i bordi dalla navbar */
}
.navbar-brand img {
  max-width: 200px;
  height: auto;
}
.buttons {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.input-group {
  width: 300px;
}

.input-group input {
  border-radius: 20px;
}

.btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

.btn-outline-dark:focus {
  box-shadow: none;
}

#search-icon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.input-group input:focus {
  outline: none;
  border-color: #343a40;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}
